{% extends 'base.html' %}

{% block title %}View product{% endblock %}

{% block menu %}
<li class="nav-item px-3">
    <a class="navbar-brand"  href="{% url 'product_update' product.pk %}" >Редактировать</a>
</li>
{% endblock %}

{% block contant %}
<div class="row">
    <div class="col col-lg-12 text-center">
        <h1 class="pt-5"><b>Product: {{ product.name }}.
            <a href="{% url 'product_update' product.pk %}" ><button type="button"  class="btn btn-success">Update</button></a>
            <a href="{% url 'product_delete' product.pk %}" ><button type="button"  class="btn btn-danger">Delete. </button></a>
            <a href="{% url 'add_to_basket' product.pk %}" ><button type="button"  class="btn btn-warning">Add to basket. </button></a>
        </b></h1>
        <h3> Category: <b class="text-primary"> {{ product.category }}</b></h3>

        <div class="box">
            <p >Description: </p>
            <hr>
            {{ product.description | linebreaks }}
        </div>
        <p><b>Amount: </b> {{ product.amount }} | <b> Price: </b> {{ product.price }}</p>
    </div>
</div>
<hr>
{% endblock %}

