{% extends 'base.html' %}

{% block title %}View product{% endblock %}

{% block menu %}
    <a class="text-white text-center px-3"  href="{% url 'product_update' product.pk %}" >Редактировать</a>
{% endblock %}

{% block contant %}
<div class="row">
    <div class="col col-lg-12 text-center">
        <h1 class="pt-5"><b>Product: {{ product.name }}.
            {% if perms.webapp.change_product %}
            <a href="{% url 'product_update' product.pk %}" ><button type="button"  class="btn btn-success">Update</button></a>
            {% endif %}
            {% if perms.webapp.delete_product %}
            <a href="{% url 'product_delete' product.pk %}" ><button type="button"  class="btn btn-danger">Delete. </button></a>
            {% endif %}
        </b></h1>
        <h3> Category: <b class="text-primary"> {{ product.category }}</b></h3>
        <div class="box">
            <p >Description: </p>
            <hr>
            {{ product.description | linebreaks }}
        </div>
        <p><b>В наличие: </b> {{ product.amount }} | <b> Цена: </b> {{ product.price }}</p>
    </div>
    <form action="{% url 'add_to_basket' product.pk %}" method="POST">
        {% csrf_token %}
        <div class="row ">
            <div class="coL mt-4 pl-5">
                <label >
                    Qty: <input type="number" name="amount">
                </label>
            </div>
            <div class="coL mt-4">
                <input type="submit" value="Add to basket">
            </div>
        </div>
    </form>
</div>
<hr>
{% endblock %}

