{% extends 'base.html' %}

{% block title %}Products in Basket: {% endblock %}


{% block contant %}
<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Наименование</th>
            <th scope="col">Цена</th>
            <th scope="col">Количество</th>
            <th scope="col">Сумма</th>
            <th scope="col">Уменьшить</th>
        </tr>
    </thead>
    {% for basket in baskets %}
    <tbody>
        <tr>
            <th scope="row">{{ basket.pk }}</th>
            <td>{{ basket.product.name }}</td>
            <td>{{ basket.product.price }}</td>
            <td>{{ basket.amount}}</td>
            <td>{{ basket.total }}</td>
            <td>
                <div class="coL col-lg-3 mt-1">
                    <a href="{% url 'basket_delete_view' basket.product.pk %}" >
                        <button type="button"  class="btn btn-warning"> -1 </button>
                    </a>
                </div>
            </td>
        </tr>
    </tbody>

    {% endfor %}
    </table>
    <hr>
    Total: {{ total }}
    <hr>
    <div class="row mb-5 pl-5">
        <form action="{% url 'order_create' %}" method="POST">
        {% csrf_token %}
            Имя: <input type="text" required name="user_name">
            Адресс: <input type="text" required name="address">
            Телефон: <input type="text" required name="telephone">
            <input type="submit" value="Оформить заказ">
        </form>
    </div>
{% endblock %}
